# DATABASE_TYPE=mongo
DATABASE_TYPE=postgres

# DATABASE_URL=mongodb://127.0.0.1:27017/nest-app
DATABASE_URL= "postgresql://postgres:1234@localhost:5432/nest-app?schema=public"

# Postgres
JWT_ACCESS_SECRET="your-very-long-random-secret-key-here-at-least-32-chars"
JWT_REFRESH_SECRET="your-very-long-random-secret-key-here-at-least-32-chars"

