DB_TYPE=mongo

# Mongo
MONGO_URI=mongodb://127.0.0.1:27017/nest-app

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=myapp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
JWT_ACCESS_SECRET="your-very-long-random-secret-key-here-at-least-32-chars"
JWT_REFRESH_SECRET="your-very-long-random-secret-key-here-at-least-32-chars"
